.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }

  .btn{
    border: 1px solid #009045;
    background-color: #009045;
    color: #fff   
  }

  .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  } 

  .btn:hover{
    border: 1px solid #007035;
    background-color: #007035;
  }

  .btn-danger:hover {
    color: #fff;
    background-color: #e60712;
    border-color: #e60712;
  } 

  .tableHeader{
    background-color: #009045;
  }

  b{
    padding: 15px;
  }

  .switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 112px;
    height: 34px;
    padding: 3px;
    margin: 0 10px 10px 0;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing:content-box;
  }

  .switch-reuniao {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 30px;
    padding: 3px;
    margin: 0 10px 10px 0;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing:content-box;
  }
  
  .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing:content-box;
  }

  .switch-label { 
    position: relative; 
    display: block; 
    height: inherit; 
    font-size: 10px; 
    text-transform: uppercase; 
    background: #79e389; 
    border-radius: inherit; 
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15); 
    box-sizing:content-box; 
  } 

  .switch-label-reuniao { 
    position: relative; 
    display: block; 
    height: inherit; 
    font-size: 10px; 
    text-transform: uppercase; 
    background: #eceeef; 
    border-radius: inherit; 
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15); 
    box-sizing:content-box; 
  } 
  
  .switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing:content-box;
  }

  .switch-label-reuniao:before, .switch-label-reuniao:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing:content-box;
  }

  .switch-label:before {
    content: attr(data-off);
	  right: 11px;
	  color: #000;
	  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  }

  .switch-label-reuniao:before {
    content: attr(data-off);
    right: 10px;
    color: #a6a6a6;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  }

  .switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
  }

  .switch-label-reuniao:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
  }

  .switch-input:checked ~ .switch-label {
    background: #009045;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
  }

  .switch-input:checked ~ .switch-label-reuniao {
    background: #009045;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
  }

  .switch-input:checked ~ .switch-label:before {
    opacity: 0;
  }

  .switch-input:checked ~ .switch-label-reuniao:before {
    opacity: 0;
  }

  .switch-input:checked ~ .switch-label:after {
    opacity: 1;
  }

  .switch-input:checked ~ .switch-label-reuniao:after {
    opacity: 1;
  }

  .switch-handle {
    position: absolute; 
    top: 6px; 
    left: 5px; 
    width: 28px; 
    height: 28px; 
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0); 
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0); 
    border-radius: 100%; 
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }

  .switch-handle-reuniao {
    position: absolute; 
    top: 6px; 
    left: 5px; 
    width: 24px; 
    height: 24px; 
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0); 
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0); 
    border-radius: 100%; 
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }

  .switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  }

  .switch-handle-reuniao:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  }


  .switch-input:checked ~ .switch-handle {
    left: 85px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
  }

  .switch-input:checked ~ .switch-handle-reuniao {
    left: 77px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
  }
   
  .switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
  }

  .switch-label-reuniao, .switch-handle-reuniao {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
  }
  
  .inline-label { 
      white-space: nowrap;
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      float:left;     
      }

  .page-item.active .page-link{
      background-color: #009045;
      border-color: #009045;   
  }



  